{% extends 'base.html' %}
{% block body %}
    <section>
        <h1>Detalhes</h1>
        <p>Posição {{detalhes.posicao}}</p>
        <p>Conhecimento Técnico {{detalhes.conhecimento_tecnico}}</p>
        <p>Conhecimento de informatica {{detalhes.conhecimento_informatica}}</p>
        <p>Carregará Peso {{detalhes.carregar_peso}}</p>
        <p>Peso {{detalhes.peso}}</p>
        <p>Usará de escadas {{detalhes.uso_escada}}</p>
        <p>Usuará Elevador {{detalhes.uso_elevador}}</p>
        <p>Tipo de Atendimento {{detalhes.tipo_atendimento}}</p>
        <p>Postura Principal {{detalhes.postura_principal}}</p>
        <p>Decisoes Complexas {{detalhes.decisoes_complexas}}</p>
        <p>Uso Ferramentas {{detalhes.uso_ferramentas}}</p>
        <p>Uso EPI {{detalhes.uso_epi}}</p>
        <p>Acessibilidades {{detalhes.acessibilidades}}</p>
        <p>Adaptações {{detalhes.adaptacoes}}</p>
        <p>Data da Entrevista {{detalhes.data_entrevista}}</p>
        <p>Local da Entrevista {{detalhes.local_entrevista}}</p>
        <p>Termino Seleção {{detalhes.Termino_selecao}}</p>
    </section>
{% endblock body %}
