{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Secretária Barueri</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
    <img src="{% static 'image/logo_barueri.png' %}" height="40" alt="">
  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Pagina Inicial
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h3 class="my-4 text-center">Menu</h3>
        <div class="list-group">
          <a href="/dados/cadastro/pf" class="list-group-item">Cadastro Pessoa Física</a>
          <a href="/dados/cadastro/pj" class="list-group-item">Cadastro Pessoa Jurídica</a>
          <a href="/dados/pj/lista" class="list-group-item">Lista de Empresas</a>
          <a href="/dados/pf/lista" class="list-group-item">Lista de Cadastros</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      
      <div class="col-lg-9">  
        <div class="card card-outline-secondary my-4">
          {% block body %}
          
          {% endblock body %}
        </div>
        
      </div>
    </div>

  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container text-center">
    <img class="my-4" src="{% static 'image/incluir.png' %}" height="62">
      <p class="m-0"> &copy; Criado em 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
