{% extends 'base.html' %}
{% block body %}
<section>
    <h1>Detalhes:</h1>

<div>
     <h3>{{pf.nome}}</h3>
        <p>cpf{{pf.cpf}}</p>
        <p>genero{{pk.genero}}</p>
        <p>estado civil{{pf.estado_civil}}</p>
        <p>data nascimento{{pf.data_nascimento}}</p>
        <p>telefone fixo{{pf.telefone_fixo}}</p>
        <p>celular{{pf.celular}}</p>
        
        <a href="/pf/editar/{{pf.pk}}"><button class='btn btn-success'>Atualizar Cadastro</button></a>
        <a href="/pf/remover/{{pf.pk}}"><button class='btn btn-success'>Deletar Cadastro</button></a>

</div>

{% if msg%}
<h2>{{msg}}</h2>
{% endif %}
</section>

{% endblock body %}