{% extend 'base.html' %}
{% block body %}

<h3>{{pessoafisica.nome}}</h3>
<p>cpf{{pessoafisica.cpf}}</p>
<p>genero{{pessoafidsica.genero}}</p>
<p>estado civil{{pessoafisica.estado_civil}}</p>
<p>data nascimento{{pessoafisica.data_nascimento}}</p>
<p>telefone fixo{{pessoafisica.telefone_fixo}}</p>
<p>celular{{celular.pessoafisica}}</p>
<a href="/atualizar/pessoafisica/{{pessoafisica.pk}}"><button>Atualizar Cadastro</button></a>
<a href="/deletarar/pessoafisica/{{pessoafisica.pk}}"><button>Deletar Cadastro</button></a>
{% if msg %}
<h2>{{msg}}</h2>

{% endif %}
{% endblock body %}