{% extends 'base.html' %}
{% block body %}
<section>
    <h1>Detalhes:</h1>
    <h1>{{empresa.nome}}</h1> 

<div>
    <p>username{{pj.username}}</p>
    <p>first_name{{pj.first_name}}</p>
    <p>last_name{{pj.last_name}}</p>
    <p>email{{pj.email}}</p>
    <p>nome_fantasia{{pj.nome_fantasia}}</p>
    <p>razao_social{{pj.razao_social}}</p>
    <p>cnpj{{pj.cnpj}}</p>
    <p>contato_empresao{{pj.contato_empresa}}</p>
    <p>ramo_atividade{{pj.ramo_atividade}}</p>
    <p>numero_funcionarios{{pj.numero_funcionarios}}</p>
    <p>numero_pcds{{pj.numero_pcds}}</p>
    <a href="/pj/editar/{{pj.pk}}"><button>Atualizar Cadastro</button></a>
    <a href="/pj/remover/{{pj.pk}}"><button>Remover Empresa</button></a>

</div>

{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
</section>

{% endblock body %}