{% extends 'base.html' %}
{% block body %}
<section>
    <h1>Detalhes:</h1>

<div>
     <h3>{{pf.nome}}</h3>
        <p>cpf{{pf.cpf}}</p>
        <p>genero{{pk.genero}}</p>
        <p>estado civil{{pf.estado_civil}}</p>
        <p>data nascimento{{pf.data_nascimento}}</p>
        <p>telefone fixo{{pf.telefone_fixo}}</p>
        <p>celular{{pf.celular}}</p>

        <p>outros tipos de deficiência{{acc.outros_tipos_deficiencia}}</p>
        <p>tipo de deficiência{{acc.tipo_deficiencia}}</p>
        <p>cid{{acc.cid}}</p>
        <p>protese{{acc.protese}}</p>
        <p>restriçao fisica{{acc.restricao_fisica}}</p>
        <p>tecnologia{{acc.tecnologia}}</p>
        <p>pessoa fisica{{acc.pessoa_fisica}}</p>

        <p>objetivo{{cpt.objetivo}}</p>
        <p>qualificacao profissional{{cpt.qualificacao_profissional}}</p>  
        <p>pretencao salarial{{cpt.pretencaosalarial}}</p>
        <p>escolaridade{{cpt.escolaridade}}</p>
        <p>qual curso{{cpt.qual_curso}}</p>
        <P>instituicao ensino curso{{cpt.instituicao}}</P>
        <p>ano inicio{{cpt.ano_inicio}}</p>
        <p>ano termino{{cpt.ano_termino}}</p>
        <p>nivel de leitura{{cpt.nivel_de_leitura}}</p>
        <p>nivel informatica{{cpt.nivel_informatica}}</p>
        <p>lingua estrangeira{{cpt.lingua_estrangeira}}</p>
        <p>lingua{{cpt.lingua}}</p>
        <p>pessoa fisica{{cpt.pessoa_fisica}}</p>
            
        <a href="/dados/pf/editar/{{pf.pk}}"><button>Atualizar Cadastro</button></a>
        
</div>
{% if msg%}
<h2>{{msg}}</h2>
{% endif %}
</section>

{% endblock body %}